<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Карточка клиента</title>
        <link rel="stylesheet" href="/css/DarkTheme.css">
    </head>
    <body class="darkThemeBody">
    <h1>Карточка клиента</h1>
    <center>
        <div class="shadow-5-strong mb-5 rounded"
             style="width:70%; padding:10px;margin-top:50px; border:1px solid white;border-radius:3%">
       <!--
          Имя
          email
          phone
          -->

          <div>
            <form method="post" action="">
              <div class="example-1">
                <label  class="example-1-item">Клиенты</label>
                <input  type="text"/>
                <label  class="example-1-item">Email</label>
                <input  type="email" />
                <label  class="example-1-item">Телефон</label>
                <input  type="tel" />
                <button class="example-1-item" type="submit" style="margin-left: 20px">Добавить/Изменить клиента</button>
              </div>
            </form>

          </div>

            </div>
        </center>
    </body>
</html>