<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8">
      <title>Список клиентов</title>
      <link rel="stylesheet" href="css/DarkTheme.css">
    </head>

    <header th:insert="blocks/HeaderManager" :: Header>
    </header>

    <body class="darkThemeBody">
    <main>
        <center>



                <div class="shadow-5-strong p-5 mb-5 rounded"
                style="width:80%; padding:10px;margin-top:50px; border:1px solid white;border-radius:3%">
                    <table class="example-2">
                        <thead>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Телефон</th>
                            <th>Email</th>
                            <th>Изменить</th>
                            <th>Удаить</th>
                        </thead>
                        <tbody th:each="cus : ${cus_list}">
                            <td th:text="${cus.getId()}"></td>
                            <td th:text="${cus.getName()}"></td>
                            <td th:text="${cus.getPhone}"></td>
                            <td th:text="${cus.getEmail()}"></td>
                            <td>
                               <button>Изменить</button>
                            </td>
                            <td>
                                <button>Удалить</button>
                            </td>
                        </tbody>
                    </table>
                </div>
            </center>
        </main>
    </body>
</html>