<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8">
      <title>Список заказов</title>
      <link rel="stylesheet" href="css/DarkTheme.css">
    </head>


    <header th:insert="blocks/HeaderManager" :: Header>
    </header>

    <body class="darkThemeBody">
        <main>

            <h1>Список заказов</h1>



            <div class="shadow-5-strong rounded" style=" padding:20px;margin-top:20px;
                 border:1px solid white;border-radius:5% ">

                <!--
                 ID
                 Имя клиента
                 Статус
                 Дата
                 Сумма
                 Дата выполнения
                 Примечания
                 -->
              <div>
                <div class="order_list" >

                    <table class="example-2">
                        <tr>
                            <th>ID</th>
                            <th>Имя клиента</th>
                            <th>Статус</th>
                            <th>Дата приёма</th>
                            <th>Сумма</th>
                            <th>Дата выполнения</th>
                            <th>Примечание</th>
                        </tr>

                        <tr class="order" th:each="order : ${order_list}">
                            <td>
                                <a
                                    th:href="@{/orders/{id}(id=${order.getId()})}"
                                    th:text="${order.getId()}">
                                    order
                                </a>
                            </td>
                            <td th:text="${order.getCus().getName()}">CusName</td>
                            <td th:text="${order.getStatusName()}">Status</td>
                            <td th:text="${order.getDtBeg()}">X</td>
                            <td th:text="${order.getMCost()}">2000.00</td>
                            <td th:text="${order.getDtEnd()}">02.01.2022</td>
                            <td th:text="${order.getNote()}">note</td>
                        </tr>
                    </table>
                    
                </div>
              </div>

            </div>

        </main>
    </body>
</html>