<!DOCTYPE html>
<html lang="en" xmlns:flex-direction="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Заказ</title>
  <link rel="stylesheet" href="../../static/css/DarkTheme.css">
</head>


<header th:insert="blocks/HeaderManager" :: Header>
</header>

<body class="DarkThemeBody">
<main>
  <center>

    <div class="shadow-5-strong p-5 mb-5 rounded" style="width:50%; padding:10px;margin-top:50px;
                 border:1px solid white;border-radius:3%">

      <!--
       Имя клиента - combobox
       Дата        - input
       Примечания  - combobox
       -->

      <div>
        <div class="orders" >
          <h2>Заказ от </h2>
          <div class="example-1">
            <h4 class="example-1-item">Клиент</h4>
            <select class="example-1-item" name="shopItemId">
              <div th:each="cus : ${cus_list}">
                <option th:text="${cus.getName()}" th:value="${cus.getId()}"></option>
              </div>
            </select>
            <a class="example-1-item" href="/new_cus">Новый клиент</a>
          </div>
          <div>

          </div>
          <div class="example-1">
            <h4 class="example-1-item">Примечания</h4>
            <input type="text" name="note" >
          </div>
          </form>
          <div class="example-1-item">
            <button name="addOrder_btn" type="button">Добавить заказ</button>
          </div>

        </div>
      </div>

    </div>


  </center>
</main>
</body>
</html>