div {
    color: white;
    background-color: rgb(33, 37, 41);
    font-family: MailSans, Helvetica, Arial, sans-serif;
}

input{
    margin: 5px;
}

.mainclass{
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
}

td {
    color: lightgray;
    padding: 5px;
}

th {
    padding: 5px;
}

.example-2{
    width: 100%;
    table-layout: auto;
}

.example-1 {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.example-1-item {
    margin: 5px;
}

.infoUser{
    color: gray;
}

.darkThemeBody{
    background: #323232;
}

main{
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
}

h1, h2, h3, h4, h5, h6{
    color: white;
}

body{
    background: black;
}

.AddButton{
    font-size:36px;
    margin-top:20px;
}

.inputTitle{
    font-size:28px;
    text-align:center;
}

.inputAtr{
    font-size:24px;
    text-align:left;
}

.inputTitleDiv{
    padding: 20px;
}

.whiteShadow{
    box-shadow: 0 0 15px rgba(255,255,255,0.10);
}

.whiteShadowLight{
    background: black;
    box-shadow: 0 0 12px rgba(255,255,255,0.1);
}

.redShadow{
    box-shadow: 0 0 5px 2px Red;
}